.popup-fade, .popup-fade-phone{
	display: none;
}
.popup-fade:before, .popup-fade-phone:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 100;
	
}
.popup {
position: absolute;
z-index: 101;
top: 58%;
width: 463px;
height: 284px;
position: absolute;
top: 62%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
background: #FFFFFF;
mix-blend-mode: normal;
}

.popup-phone {
position: absolute;
z-index: 101;
top: 58%;
width: 95%;
height: 58%;
position: absolute;
top: 62%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
background: #FFFFFF;
mix-blend-mode: normal;
}

.popup blackhead {
position: absolute;
width: 463px;
height: 65px;
left: 0px;
top: 0px;
background: #000000;
}

.popup-phone blackhead-phone {
position: absolute;
width: 100%;
height: 35%;
left: 0px;
top: 0px;
background: #000000;
}

.popup img{
position: absolute;
width: 25px;
height: 25px;
left: 93.09%;
right: 1.51%;
top: 6.69%;
bottom: 84.51%;
background: url(img/close-window.png);
}
.popup clickme{
position: absolute;
width: 183px;
height: 51px;
left: 137px;
top: 219px;
padding:15px 35px;
background: #000000;
color: #FFFFFF;
font-size:16px;
font-weight:400;
font-family: 'Montserrat', sans-serif;
display:inline-block;
text-align:center;
border-radius:3px;
line-height:25px;
margin-bottom:20px;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
border-radius: 3px;
}

.popup-phone clickme-phone{
position: absolute;
width: 189px;
height: 61px;
left: 26px;
top: 200px;
padding:15px 35px;
background: #000000;
color: #FFFFFF;
font-size:20px;
font-weight:400;
font-family: 'Montserrat', sans-serif;
display:inline-block;
text-align:center;
border-radius:3px;
line-height:25px;
margin-bottom:20px;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
border-radius: 3px;
}

.popup closeme_phone{
position: absolute;
width: 189px;
height: 61px;
left: 243px;
top: 200px;
padding:15px 35px;
background: #fbf3f1;
color: #000000;
font-size:20px;
font-weight:400;
font-family: 'Montserrat', sans-serif;
display:inline-block;
text-align:center;
border-radius:3px;
line-height:25px;
margin-bottom:20px;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
border-radius: 3px;
}

.popup textrequest{
position: absolute;
width: 381px;
height: 107px;
left: 41px;
top: 88px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #000000;
}

.popup-close {
float: right;
font-size: 21px;
font-weight: bold;
line-height: 1;
color: #000000;
text-shadow: 0 1px 0 #ffffff;
}