.popup-fade, .popup-fade-phone{
	display: none;
}
.popup-fade:before, .popup-fade-phone:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 3999;
	
}
.popup {
position: absolute;
z-index: 4000;
top: 58%;
width: 463px;
height: 284px;
position: absolute;
top: 62%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
background: #FFFFFF;
mix-blend-mode: normal;
}

.popup-phone {
position: absolute;
z-index: 4000;
width: 95%;
height: 40%;
top: 41%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
background: #FFFFFF;
mix-blend-mode: normal;
}

.popup blackhead {
position: absolute;
width: 463px;
height: 65px;
left: 0px;
top: 0px;
background: #000000;
}

.popup-phone blackhead-phone {
position: absolute;
width: 100%;
height: 16%;
left: 0px;
top: 0px;
background: #000000;
}

.popup img{
position: absolute;
width: 25px;
height: 25px;
left: 93.09%;
right: 1.51%;
top: 6.69%;
bottom: 84.51%;
background: url(img/close-window.png);
}
.popup clickme{

}

.popup-clickme-phone{
position: absolute;
width: 41%;
height: 20%;
left: 6%;
top: 75%;
background: #000000;
color: #FFFFFF;
font-size: 150%;
font-family: 'Montserrat', sans-serif;
text-align:center;
vertical-align:middle;
display:block;
border:0px;
}

.popup-close-phone{
position: absolute;
width: 41%;
height: 20%;
left: 53%;
top: 75%;
background: #fbf3f1;
font-size: 150%;
font-family: 'Montserrat', sans-serif;
text-align:center;
vertical-align:middle;
display:block;
border:0px;
}

.popup textrequest{
position: absolute;
width: 381px;
height: 107px;
left: 41px;
top: 88px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
text-align: center;
color: #000000;
}

.popup-phone textrequest-phone{
position: absolute;
width: 96%;
height: 27%;
left: 2%;
top: 30%;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 150%;
line-height: 150%;
text-align: center;
color: #000000;
}

.popup-close {
float: right;
font-size: 21px;
font-weight: bold;
line-height: 1;
color: #000000;
text-shadow: 0 1px 0 #ffffff;
opacity: 0.2;
}
.popup-close:hover,
.popup-close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}


.popup clickme {
position: absolute;
width: 183px;
height: 51px;
left: 137px;
top: 219px;
padding:15px 35px;
background: #000000;
color: #FFFFFF;
font-size:16px;
font-weight:400;
font-family: 'Montserrat', sans-serif;
display:inline-block;
text-align:center;
line-height:25px;
margin-bottom:20px;
-webkit-transition:all 0.3s ease-in-out;
border-radius: 3px;
cursor: pointer;
}
.popup clickme:hover
{
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.03);
}
.popup clickme:active {
    box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
    transform: scale(.98);
}